{% extends "common/base.html" %}
{% load staticfiles %}
{% block title %}首页标题{% endblock %}
{% block keywords%}首页关键词{% endblock %}
{% block description%}首页描述{% endblock %}

{% block container %}
<div class="v5-banner-big">
    <div class="container">
      <div class="carousel-container">
        <div id="carousel">
            <!--广告-->
           {%for ad  in Ad_list %}
              <div class="carousel-feature">
                <a href="#"><img  src="/uploads/{{ ad.image_url }}" class="carousel-image" alt="Image Caption"></a>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
<div class="v5-index-main">
    <div class="v5-titline"></div>
    <div class="container">
      <div class="v5-recommend">
        <div class="v5-tabs-box" id="v5-tabs">
          <ul class="v5-tabs" id="v5-tabs" role="tablist">
            <li class="active"><a href="#new" class="is-active" role="tab" data-toggle="tab">最新课程</a></li>
            <li><a href="#most" role="tab" data-toggle="tab">最多播放</a></li>
            <li><a href="#hot" role="tab" data-toggle="tab">最具人气</a></li>
          </ul>
          <div class="tabs-container tab-content">
            <div class="v5-course-item tab-pane fade in active" id="new" data-holder="holdernew">
              <div class="page-item">
                  <!--课程展示-->
                <ul class="row course-list-index">
                    {% for career in career_list %}
                      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <a href="{{ career.image.url }}">
                          <dl>
                            <dt>
                              <div><img src="{{ career.image.url }}" ></div>
                            </dt>
                            <dd>
                              <span>{{ career.name }}</span>
                              <p>{{  career.student_count }}人正在学习</p>
                            </dd>
                          </dl>
                        </a>
                      </li>
                    {% endfor %}
                </ul>
              <div class="page-bg-w">
                <div class="row v5-pages">
                  {% block pagination %}
                      {% include 'common/pagination.html' %}  <!--注意文件路径这里要加上common文件夹名-->
                  {% endblock %}
                </div>
              </div>
            </div>
            </div>
            <div class="v5-course-item tab-pane fade" id="most" data-holder="holdermost">
            	<div class="page-item">
                <ul class="row course-list-index">
                <!--播放最多-->
                  {% for career in most_career_list %}
                      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <a href="{{ career.image.url }}">
                          <dl>
                            <dt>
                              <div><img src="{{ career.image.url }}" ></div>
                            </dt>
                            <dd>
                              <span>{{ career.name }}</span>
                              <p>{{  career.student_count }}人正在学习</p>
                            </dd>
                          </dl>
                        </a>
                      </li>
                    {% endfor %}
                </ul>
              </div>
              <div class="page-bg-w">
                <div class="row v5-pages">
                  <div class="col-sm-12 v5-pages-list">
                    <ul class="row fr">
                      {% if most_career_list.has_previous %}
                        <li><a class="v5-icon v5-icon-prev" href="?page={{ most_career_list.previous_page_number }}"></a></li>
                        {% else %}
                        <li><a href="" class="v5-icon v5-icon-prev"></a></li>
                        {% endif %}

                         {% for pagenum in  most_career_list.paginator.page_range%}
                             <li><a href="?page={{ pagenum }}" class="page-num">{{ pagenum }}</a></li>
                         {% endfor  %}

                        {% if most_career_list.has_next %}
                            <li><a href="?page={{ most_career_list.next_page_number }}" class="v5-icon v5-icon-next"></a></li>
                        {% else %}
                          <li><a href="" class="v5-icon v5-icon-next"></a></li>
                        {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="v5-course-item tab-pane fade" id="hot" data-holder="holderhot">
              <div class="page-item">
                <ul class="row course-list-index">
                 {% for career in hot_career_list %}
                      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <a href="{{ career.image.url }}">
                          <dl>
                            <dt>
                              <div><img src="{{ career.image.url }}" ></div>
                            </dt>
                            <dd>
                              <span>{{ career.name }}</span>
                              <p>{{  career.student_count }}人正在学习</p>
                            </dd>
                          </dl>
                        </a>
                      </li>
                    {% endfor %}
                </ul>
              </div>
              <div class="page-bg-w">
                <div class="row v5-pages">
                  <div class="col-sm-12 v5-pages-list">
                    <ul class="row fr">
                      <{% if hot_career_list.has_previous %}
                        <li><a class="v5-icon v5-icon-prev" href="?page={{ hot_career_list.previous_page_number }}"></a></li>
                        {% else %}
                        <li><a href="" class="v5-icon v5-icon-prev"></a></li>
                        {% endif %}

                         {% for pagenum in  hot_career_list.paginator.page_range%}
                             <li><a href="?page={{ pagenum }}" class="page-num">{{ pagenum }}</a></li>
                         {% endfor  %}

                        {% if hot_career_list.has_next %}
                            <li><a href="?page={{ hot_career_list.next_page_number }}" class="v5-icon v5-icon-next"></a></li>
                        {% else %}
                          <li><a href="" class="v5-icon v5-icon-next"></a></li>
                        {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="v5-titline">
      <div class="container">
        <h1>名师风采</h1>
      </div>
    </div>
    <div class="container">
      <div class="tc-list">
        <a id="prev" class="prev" href="#"></a>
        <div class="tc-list-w">
          <ul id="foo" class="cf">
            {% for teacher in teacher_list %}
            <li>
              <dl>
                <dt><a href="/teacher/?center={{teacher.username }}" style="border-left-color:#00A388;"><img src="uploads/{{ teacher.avatar_url }}"></a></dt>
                <dd>
                  <h2>{{ teacher.last_name }}{{ teacher.first_name }}</h2>
                  <h3>{{ teacher.position }}</h3>
                </dd>
              </dl>
            </li>
            {% endfor %}
          </ul>
        </div>
        <a id="next" class="next" href="#"></a>
      </div>
    </div>
    <div class="v5-titline">
      <div class="container">
        <h1>推荐阅读</h1>
      </div>
    </div>
    <div class="container">
      <div class="v5-read cf">
        <div class="v5-read-item">
          <div class="v5-read-list" style="background-color:#00A388;">
          <!--资讯-->
            <h1>官方活动</h1>
            <ul>
                {%for read in reads_list_AV  %}
                    <li><a href="{{ read.url }}" title="{{ read.title }}" target="_blank">{{ read.title }}</a></li>
                {% endfor %}
            </ul>
          </div>
          <p><img src="{% static 'test/3.jpg' %}"></p>
        </div>
        <div class="v5-read-item v5-read-item-mid">
          <p><img src="{% static 'test/4.jpg' %}"></p>
          <div class="v5-read-list" style="background-color:#FF6138;">
            <h1>开发者资讯</h1>
            <ul>
                {%for read in reads_list_NW  %}
                    <li><a href="{{ read.url }}" title="{{ read.title }}" target="_blank">{{ read.title }}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div>
        <div class="v5-read-item">
          <div class="v5-read-list" style="background-color:#00A388;">
            <h1>技术交流</h1>
            <ul>
              {%for read in reads_list_DC  %}
                    <li><a href="{{ read.url }}" title="{{ read.title }}" target="_blank">{{ read.title }}</a></li>
                {% endfor %}
            </ul>
          </div>
          <p><img src="{% static 'test/5.jpg' %}"></p>
        </div>
      </div>
    </div>
    <div class="v5-titline">
      <div class="container">
        <h1>战略合作</h1>
      </div>
    </div>
    <div class="container">
      <div class="v5-strategic">
        <ul class="cf">
          {% for link in link_pic %}
          <li>
            <a href="{{ link.callback_url }}"><img src="{{ media_url }}{{ link.image_url }}"></a>
          </li>
           {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer%}
<div class="v5-footer">
    <div class="container">
      <div class="v5-footer-container">
        <div class="v5-footer-links cf">
          <dl class="f-link">
            <dt>友情链接</dt>
            <dd>
              <ul>
                <li class="cf">
                  {% for link in link_list %}
                  <a href="{{ link.callback_url }}">{{ link.title }}</a><span>|</span>
                  {% endfor %}
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="follow">
            <dt>关注我们</dt>
            <dd>
              <ul>
                <li><a href=""><span class="sina"></span>新浪微博</a></li>
                <li><a href=""><span class="weixin"></span>官方微信</a></li>
                <li><a href=""><span class="qq"></span>腾讯微博</a></li>
              </ul>
            </dd>
          </dl>
          <dl class="webmap">
            <dt>网站导航</dt>
            <dd>
              <ul>
                <li><a href="">网站首页</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">意见反馈</a></li>
              </ul>
            </dd>
          </dl>
        </div>
        <div class="v5-footer-bottom">
          <p>© 2012-2017 maiziedu.com | 服务条款 | 蜀ICP备13014270号-4 Version 4.0.1 release20140721.1</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}